<!DOCTYPE html>
<html>
  <head>
    {% include 'nav-template.html' %} {% block nav %} {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='general.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='general.css')}}"
    />
  </head>
  <body>
    <h1>Plants Table</h1>
    <form method="post" action="{{ url_for('update_all_plants_table') }}">
      <table>
        <tr>
          <th>Type</th>
          <th>Light</th>
          <th>Light Hours</th>
          <th>Moisture</th>
          <th>Actions</th>
        </tr>
        {% for plant in plants %} {% if plant['missing'] %}
        <tr class="missing-plant-table" style="background-color: #fdcfcf">
          {% else %}
        </tr>
        <tr>
          {% endif %}
          <td>{{ plant['type'] }}</td>

          <td>
            <input
              type="number"
              name="{{ plant['type'] }}/light"
              value="{{ plant['light'] }}"
            />
          </td>

          <td>
            <input
              type="number"
              name="{{ plant['type'] }}/light_hours"
              value="{{ plant['light_hours'] }}"
            />
          </td>
          <td>
            <input
              type="number"
              name="{{ plant['type'] }}/moisture"
              value="{{ plant['moisture'] }}"
            />
          </td>

          <td>
            <button
              type="submit"
              name="update"
              value="{{ plant['type'] }}"
              class="cta-button-mini"
            >
              Update
            </button>
            <button
              type="submit"
              name="delete"
              value="{{ plant['type'] }}"
              class="cta-button-mini"
            >
              Delete
            </button>
          </td>
        </tr>
        {% endfor %}
        <tr>
          <td><input type="text" name="type" placeholder="Plant type" /></td>
          <td>
            <input type="number" name="light" placeholder="Light Level" />
          </td>
          <td>
            <input type="number" name="moisture" placeholder="Moisture Level" />
          </td>
          <td>
            <input type="number" name="light_hours" placeholder="Light Hours" />
          </td>

          <td><button type="submit" name="add" value="add">Add</button></td>
        </tr>
      </table>
    </form>
  </body>

  {% include 'footer-template.html' %} {% block footer %} {% endblock %}
</html>
