<!-- footer section -->
<br />
<footer>
  <div class="footer-content">
    <div class="footer-section about">
      <h3>About MyGardenGenie</h3>
      <p>
        MyGardenGenie is an IoT-based remote monitoring and care solution for
        home gardening. With features such as lighting and humidity control,
        watering, and optimized treatment based on a developing algorithm,
        MyGardenGenie ensures your plants receive the optimal care they need to
        thrive.
      </p>
    </div>
    <div class="footer-section contact">
      <h3>Contact Us</h3>
      <ul>
        <li><i class="fas fa-envelope"></i> doron12maor@gmail.com</li>
        <li><i class="fas fa-map-marker-alt"></i> Israel</li>
      </ul>
    </div>
  </div>
  <img
    src="{{url_for('static', filename='images/Logo3.png')}}"
    alt="MyGardenGenie"
    width="400px"
  />
  <div class="footer-bottom">
    <p>&copy; 2023 MyGardenGenie | Designed by Doron Maor</p>
  </div>
</footer>
