<!DOCTYPE html>
<html>
  <head>
    <title>Signup/Login Page</title>
  </head>
  <body>
    <h1>Signup</h1>
    <form action="/" method="post">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username"><br><br>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password"><br><br>
      <label for="code">Account Code (optional):</label>
      <input type="text" id="code" name="code"><br><br>
      <input type="submit" value="Signup">
    </form>
    <br><br>
    <h1>Login</h1>
    <form action="/" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required onsubmit="sessionStorage.setItem('username', this.value)" /><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required onsubmit="sessionStorage.setItem('password', this.value)" /><br><br>
        <input type="submit" value="Login">
    </form>
  </body>
</html>
