<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='homePage.css')}}"
    />
    <title>Signup/Login Page</title>
  </head>
  <body>
   {% include 'nav.html' %}

    {% block content %}
    {% endblock %}
    <h1>Welcome to Plant Monitoring!</h1>
    <div class="container">
      <form
        action="/"
        method="post"
        class="form-container active"
        id="signup-form"
      >
        <h2>Signup</h2>
        <label for="username_n">Username:</label>
        <input type="text" id="username_n" name="username_n" /><br /><br />
        <label for="password_n">Password:</label>
        <input type="password" id="password_n" name="password_n" /><br /><br />
        <label for="code">Account Code (optional):</label>
        <input type="text" id="code" name="code" /><br /><br />
        <input type="submit" value="Signup" />
      </form>
      <form
        action="/"
        method="post"
        class="form-container active"
        id="login-form"
      >
        <h2>Login</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required /><br /><br />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />
        <input type="submit" value="Login" />
      </form>
    </div>
    <script>
      const form = document.getElementById("login-form");
      form.addEventListener("submit", function (event) {
        sessionStorage.clear();
        event.preventDefault(); // prevent the form from actually submitting

        username = document.getElementById("username").value;
        password = document.getElementById("password").value;

        if (!username || !password) {
          console.log("Username and password are required.");
          return;
        }

        sessionStorage.setItem("username", username);
        sessionStorage.setItem("password", password);

        console.log(sessionStorage);
        // proceed with submitting the form
        form.submit();
      });
    </script>
  </body>
</html>
