<!-- header section -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
  rel="stylesheet"
/>
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Oxanium:wght@300&display=swap"
  rel="stylesheet"
/>
<link
  rel="icon"
  type="image/ico"
  href="{{ url_for('static', filename='favicon.ico') }}"
/>
<header class="navheader">
  <div class="logo">
    <a href="/"
      ><img
        src="{{ url_for('static', filename='images/Logo2.png') }}"
        height="65px"
        href="/"
        alt="home"
    /></a>
  </div>
  <nav>
    <ul>
      {% if logged %}

      <li><a href="/plant_monitoring">Plant Monitoring</a></li>
      <li><a href="/reports">Reports</a></li>
      <li><a href="/account">My Account</a></li>

      {% if session['admin'] %}
      <li><a href="/admin_plants_table" class="admin-li">Plants Table</a></li>
      <li><a href="/admin_reports" class="admin-li">Admin Reports Page</a></li>
      {% endif %}

      <li><a href="/logout">Logout</a></li>

      {% else %}
      <li><a href="#signup-login">Signup/Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
