<!DOCTYPE html>
<html>
  <head>
    <!-- Navigation -->
    {% include 'nav-template.html' %} {% block nav %} {% endblock %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reports</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='reports-page.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='general.css')}}"
    />
  </head>
  <h1>Reports</h1>

  <div class="container">
    <!-- Events by Date -->
    <h2>Events by date</h2>
    <form class="date-picker-form">
      <label for="start-date">Start Date:</label>
      <input
        type="date"
        id="start-date"
        name="start_date"
        value="{{ start_date|default('') }}"
      />

      <label for="end-date">End Date:</label>
      <input
        type="date"
        id="end-date"
        name="end_date"
        value="{{ end_date|default('') }}"
      />

      <label for="plant-selection">Select a Plant:</label>
      <select id="plant-selection" name="plant_name">
        {% for plant_name in plant_names %}
        <option value="{{ plant_name }}">{{ plant_name }}</option>
        {% endfor %}
        <option value="all">All</option>
      </select>

      <button type="submit">Submit</button>
    </form>

    <h3>{{ log_count }} results</h3>
    <div class="logs-container">
      {% for log in logs %} {% set random_id = "log_" ~ loop.index %}

      <div class="log">
        {% if log.images %}
        <img
          src="{{ url_for('static', filename='images/imgIcon.png') }}"
          alt="Image Icon"
          width="30px"
          class="img-icon"
          id="{{ random_id }}"
          onclick="toggleImages('{{ random_id }}')"
          <!--
          Pass
          the
          id
          to
          the
          function
          --
        />
        /> {% endif %}
        <p class="time">{{ log.time }}</p>
        <p class="by">{{ log.by }}</p>
        <p class="level">{{ log.level }}</p>
        <p class="action">{{ log.action }}</p>
        {% if log.images %}
        <div class="log-images" id="images_{{ random_id }}">
          <!-- Add a unique ID for the images container -->
          {% for image in log.images %}
          <img
            class="log-image"
            src="data:image/jpeg;base64,{{ image }}"
            alt="Log Image"
          />
          {% endfor %}
        </div>
        {% endif %}
      </div>
      {% endfor %}
    </div>
    <script>
      function toggleImages(id) {
        var imagesContainer = document.querySelector("#images_" + id); // Find the images container based on the ID
        if (imagesContainer.style.display === "block") {
          imagesContainer.style.display = "none";
        } else {
          imagesContainer.style.display = "block";
        }
      }
    </script>

    <!-- Growth Graph -->
    <h2>Growth Graph</h2>
    {% if growth_graph %}
    <img src="{{ growth_graph }}" alt="Growth Chart" />
    {% else %}
    <img
      src="{{url_for('static', filename='images/nograph.jpg')}}"
      alt="Growth Chart"
    />
    {% endif %}

    <!-- Light and Moisture Graph -->
    <h2>Light and Moisture Graph</h2>
    {% if light_moisture_graph %}
    <img src="{{ light_moisture_graph }}" alt="Light Moisture Chart" />
    {% else %}
    <img
      src="{{url_for('static', filename='images/nograph.jpg')}}"
      alt="Growth Chart"
    />
    {% endif %}
  </div>

  <!-- Footer -->
  {% include 'footer-template.html' %} {% block footer %} {% endblock %}
</html>
