body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e6f7f2;
  color: #555;
}

h1 {
  font-size: 3rem;
  text-align: center;
  margin: 3rem 0;
  color: #5cb85c;
}

button {
  background-color: #5cb85c;
  border: none;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #4cae4c;
}

#remote-mode,
#video-mode {
  margin-right: 1rem;
}

#switch-plant {
  margin-left: 1rem;
}

#current_plant_tag {
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem 0;
  color: #5cb85c;
}

#remote-actions,
#video-actions {
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#remote-actions h2,
#video-actions h2 {
  font-size: 2rem;
  margin-top: 0;
  color: #5cb85c;
}

label {
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1rem;
  color: #555;
}

input[type="text"],
input[type="checkbox"] {
  font-size: 1.2rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  margin-left: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
}

input[type="text"] {
  width: 8rem;
}

#video {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav {
  background-color: #1b5e20;
  padding: 1rem;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin: 0 1rem;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover {
  color: #c8e6c9;
}
